# EditorConfig for consistent coding styles
# https://editorconfig.org
#
# NOTE: This file should match the formatting rules defined in eclipse-formatter.xml.
# Key values from eclipse-formatter.xml:
#   - indent_size = 2 (tabulation.size, indentation.size)
#   - max_line_length = 140 (lineSplit, comment.line_length)
#   - indent_style = space (tabulation.char)

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 2
max_line_length = 140

# XML/POM files
[*.xml]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 2

# Markdown
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Shell scripts
[*.{sh,cmd,bat}]
indent_style = space
indent_size = 2
